<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Entity Framework ayarları için bölüm tanımı -->
    <section 
      name="entityFramework" 
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
      requirePermission="false" />
  </configSections>

  <!-- Uygulamanın çalışacağı .NET runtime sürümü -->
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>

  <!-- Entity Framework yapılandırması -->
  <entityFramework>
    <defaultConnectionFactory 
      type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider 
        invariantName="System.Data.SqlClient" 
        type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- Veritabanı bağlantı dizesi -->
  <connectionStrings>
    <add name="ApplicationDbContext"
         connectionString="Server=ALTAY\SQLEXPRESS;Database=CariHesapDB;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
